*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: monospace;
    overflow-x: hidden;
}

body{
}

.close{
    right: -75%;
}

.open{
    right: 0;
}

.bars-rot{
    margin-top: 2%;
}

.bars-rot > :nth-child(1){
    transform: rotateZ(45deg);
    position: absolute;
}

.bars-rot :nth-child(2){
    opacity: 0;
}

.bars-rot :nth-child(3){
    transform: rotateZ(-45deg);
    position: absolute;
}

section{
    max-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#sidebar{
    position: absolute;
    height: 100vh;
    width: 70%;
    background: rgb(39, 55, 59);
    z-index: 5;
    transition: all .3s;
}

.sidebar-head{
    background-image: url(/resources/Junemontage.jpg);
    position: relative;
    top: 0;
    height: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.sidebar-head h2{
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    color: #ffffff;
    padding: 10px;

}

.info h2{
    text-align: center;
    font-size: 24px;
    color: rgb(18, 25, 27);
}

#calculator{
    width: 100%;
    height: 100vh;
    background-color: rgb(39, 55, 59);
    overflow:  hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header{
    color: white;
    display: flex;
    place-content: center;
    background-color: rgb(39, 55, 59);
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
}

.bars{
    position: relative;
    max-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    transition: all .3s;
}

.bar{
    height: 3px;
    width: 25px;
    background: #ffffff;
}

.toggle{
    position: absolute;
    display: none;
}

.toggle:checked{
    border: 5px solid #000  ;
}

#display{
    height: 100%;
    width: 100%;
    /* background-color: rgb(5, 211, 98); */
    background: #ffffff;
    padding: 10px;
    text-align: right;
    font-size: 50px;
    color: black;
    position: relative;
    z-index: 0;

}

.d1{
    opacity: .6;
    font-size: 24px;
    height: fit-content;
    margin: 10px 5px;
}

.d3{
    position: absolute;
    bottom: 8px;
    left: 10px;
    opacity: .6;
    height: 20px;
    font-size: 24px;
    margin: 10px;
}

#buttons{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.button{
    color: white;
    display: flex;
    place-content: center;
    padding: 30px;
    /*border: .2px solid grey;*/
    font-size: 30px;
    cursor: pointer;
}

.button:hover, .button:active {
    background-color: rgb(30, 43, 46);
}

.point{
    border-bottom-left-radius: 6px;   
}

.equals{
    /* color: blue; */
    background-color: rgb(68, 68, 245);
    grid-column: 3/5;
    border-top-left-radius: 6px;
    /* border-left: 1px solid #fff;
    border-top: 1px solid #fff; */
}